ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

li a {
    text-decoration: none;
    color: #007BFF;
    font-size: 20px;
}

li a:hover {
    text-decoration: underline;
    color: #0056b3;
}